<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- Servlets -->
	<servlet>
		<servlet-name>dashboard_controller</servlet-name>
		<servlet-class>com.yourinventit.moat.gae.hcjsexample.controllers.DashboardControllerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dashboard_controller</servlet-name>
		<url-pattern>/dashboard/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>sensing_data_controller</servlet-name>
		<servlet-class>com.yourinventit.moat.gae.hcjsexample.controllers.SensingDataControllerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>sensing_data_controller</servlet-name>
		<url-pattern>/sensing_data/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

	<!-- Filters -->
	<filter>
		<filter-name>authentication_filter</filter-name>
		<filter-class>com.yourinventit.moat.gae.hcjsexample.controllers.AuthenticationFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>authentication_filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>